.view-profile {
  position: relative;

  .edit-profile-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  .avatar-container {
    text-align: center;

    img {
      border-radius: 150px;

      &.vertical {
        max-width: 300px;
      }

      &.horizontal {
        max-height: 300px;
      }
    }
  }
}
