.view-profile {
  position: relative;

  .edit-profile-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  .avatar-container {
    margin-bottom: 20px;

    div.img-wrapper {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  div {
    &.info-container {
      padding: 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      p {
        &.info {
          font-size: 20px;
        }
      }
    }
  }
}
