<div class="post-container">
  <div class="img-container">
    <img src="{{ post.imageURL }}">
  </div>

  <div class="post-creator">
    <img src="{{ post.createdBy.avatar || './assets/images/noavatar.jpg' }}" class="avatar">
    <span class="username">Posted by <strong>{{ post.createdBy.username }}</strong></span>
  </div>

  <div class="post-info">
    <div class="location info-row">
      <fa-icon [icon]="icons.location"></fa-icon>
      {{ post.location.locationName }}
    </div>

    <div class="description info-row">
      <fa-icon [icon]="icons.description"></fa-icon>
      {{ post.description }}
    </div>

    <div class="hashtags info-row">
      <fa-icon [icon]="icons.hashtags"></fa-icon>
      <span class="hash-tag" *ngFor="let tag of post.hashTags">
        {{ tag }}
      </span>
    </div>

    <div class="comments info-row">
      <comment-enter></comment-enter>
      <span class="comment-display" *ngFor="let comment-display of post.comments">
        {{ tag }}
      </span>
    </div>
  </div>
</div>
