.search-img {
  display: inline;

  img {
    width: 30%;
    padding-bottom: 30%;
    object-fit: cover;
  }
}

.matching-search {
  cursor: pointer;
  transition: background-color 0.4s;

  &:hover {
    background-color: #EEE;
  }

  fa-icon {
    position: absolute;
    right: 20px;
  }
}
