.hash-tag {
  color: white;
  background-color: #555;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 2px;
}

.main-text {
  font-weight: bold;
  display: block;
}

.secondary-text {
  font-size: 14px;
}

.list-group-item.suggested-place {
  cursor: pointer;
}

/*.list-group-item.suggested-place {*/
/*  cursor: pointer;*/
/*}*/
