.main-wrap {
  min-height: 100vh;
  margin-bottom: -34px;
  padding-bottom: 34px;
}

.container-fluid {
  padding: 55px 20px 20px 20px;

  .logged-in-as {
    font-size: 14px;
    position: absolute;
    top: 60px;
    right: 10px;
  }
}

.main {
  padding: 60px 20px;
}
