.main-wrap {
  min-height: 100vh;
  margin-bottom: -34px;
  padding-bottom: 34px;
  background-image: url('../assets/svg/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: lightblue;
  background-attachment: fixed;

  .jumbotron {
    background-color: #222;
    border-radius: 0;
    color: white;

    h1 {
      cursor: pointer;
    }

    .logout-mobile {
      position: absolute;
      top: 5px;
      right: 8px;
      font-size: 20px;
      color: white;

      &:hover {
        color: #CCC;
      }
    }
  }
}

.container-fluid {
  padding: 55px 20px 20px 20px;

  &.mobile {
    padding: 10px 20px 20px 20px;
  }

  .logged-in-as {
    font-size: 14px;
    position: absolute;
    top: 60px;
    right: 10px;
    color: #222;

    &.mobile {
      top: 124px;
    }

    a {
      font-weight: bold;
      color: #222;
    }
  }
}

.main {
  padding: 20px 20px;
}
