<div class="searching-form content-panel">
  <search-posts-by
    searchBy="HashTag"
    [searchByIcon]="icons.hashtag"
    searchHelpText="Type a part of or the full hashtag, eg. tech"
    linkStart="/search/hashtag/"
    [searchTerm]="matchingHashTagSearchTerm"
    [matchResults]="matchingHashTags | genericSearchResults : 'hashtag'"
    [noResults]="noMatchingHashTags"
    [isSearching]="isSearching"
    (keyPressedEE)="hashTagSearch($event)"
    *ngIf="!matchingLocationSearchTerm"

  >
  </search-posts-by>

  <p class="or-text" *ngIf="!matchingHashTagSearchTerm && !matchingLocationSearchTerm">OR</p>

  <search-posts-by
    searchBy="Location"
    [searchByIcon]="icons.location"
    searchHelpText="Type a part of or the full name of a location, eg. dub"
    linkStart="/search/location/"
    [searchTerm]="matchingLocationSearchTerm"
    [matchResults]="matchingLocations | genericSearchResults : 'location'"
    [noResults]="noMatchingLocations"
    [isSearching]="isSearching"
    (keyPressedEE)="locationSearch($event)"
    *ngIf="!matchingHashTagSearchTerm"
  >
  </search-posts-by>
</div>
