<form *ngIf="profile" [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input id="firstname" formControlName="firstName" class="form-control" type="string" />
    <div *ngIf="form.controls.firstName.errors?.required && form.controls.firstName.touched" class="error">
      *Required
    </div>
  </div>

  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input id="lastname" formControlName="lastName" class="form-control" type="string" />
    <div *ngIf="form.controls.lastName.errors?.required && form.controls.lastName.touched" class="error">
      *Required
    </div>
  </div>

  <div class="form-group">
    <label for="dob">Date Of Birth</label>
    <input id="dob" formControlName="dob" class="form-control" type="date" />
    <div *ngIf="form.controls.dob.errors?.required && form.controls.dob.touched" class="error">
      *Required
    </div>
  </div>

  <div class="text-right">
    <button class="btn btn-md orange-btn" type="submit" [disabled]="!form.valid">
      Update Profile <fa-icon [icon]="icons.save"></fa-icon>
    </button>
  </div>
</form>

