@import '~bootstrap/dist/css/bootstrap.min.css';

/*.notyf {*/
/*  bottom: 0!important;*/
/*  display: inline!important;*/
/*  right: 0!important;*/
/*  left: 0!important;*/
/*}*/

/*.notyf__toast {*/
/*  max-width: 100%!important;*/
/*  border-radius: 0!important;*/
/*}*/

/*.notyf__ripple {*/
/*  transform: scale(0) translateY(50%) translateX(50%)!important;*/
/*  transform-origin: center!important;*/
/*  width: 120%!important;*/
/*}*/

.btn-default {
  background-color: #d1d1d1!important;
  color: #555!important;

  &:hover {
    background-color: #b5b5b5!important;
    color: #555!important;
  }
}
